Extending on my traffic safety / city commuting rates jupyter notebook (https://github.com/moralwintertiger/Traffic_Safety/blob/master/City_Commuting_Rates.ipynb) this notebook will build out an api to quickly assemble data on commuting by city. The notebook should act as a road map to building other apis with datausa.

In [31]:
###example url, which graphs commute types (by vehicle, eg) in Los Angeles. This url appears to be in json format. 

url = "http://graphite.datausa.io/api/data?measure=Commute%20Means,Commute%20Means%20Moe&geo=16000US0644000,01000US&drilldowns=Group"

let's see if we can pull out the data from that url into a dataframe. First we'll import the required libraries, then 
we'll decompose the url.

In [6]:
import requests, json
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
###note that to make an api request via the requests package, you need to input your user-agent info:


headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Safari/537.36'}

In [45]:
#now let's get out test url:

json = requests.get(url, headers=headers).json()

json

{'data': [{'Commute Means': 238540,
   'Commute Means Moe': 9648,
   'Geography': 'United States',
   'Group': 'Motorcycle',
   'ID Geography': '01000US',
   'ID Group': 4,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 126091,
   'Commute Means Moe': 6902,
   'Geography': 'Los Angeles, CA',
   'Group': 'Worked At Home',
   'ID Geography': '16000US0644000',
   'ID Group': 8,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 22682,
   'Commute Means Moe': 2792,
   'Geography': 'Los Angeles, CA',
   'Group': 'Other',
   'ID Geography': '16000US0644000',
   'ID Group': 7,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 13604253,
   'Commute Means Moe': 77767.85546098079,
   'Geography': 'United States',
   'Group': 'Carpooled',
   'ID Geography': '01000US',
   'ID Group': 1,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 65878,
   'Commute Means Moe': 4417,
   'Geography': 'Los Angeles, CA',
   'Group': 'Walked',
   'ID Geography': '16000US0644000',
   'ID Group': 6,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 7637296,
   'Commute Means Moe': 46466.29175004177,
   'Geography': 'United States',
   'Group': 'Public Transit',
   'ID Geography': '01000US',
   'ID Group': 2,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 18171,
   'Commute Means Moe': 2592,
   'Geography': 'Los Angeles, CA',
   'Group': 'Bicycle',
   'ID Geography': '16000US0644000',
   'ID Group': 5,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 303441,
   'Commute Means Moe': 11526,
   'Geography': 'United States',
   'Group': 'Taxi',
   'ID Geography': '01000US',
   'ID Group': 3,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 4090,
   'Commute Means Moe': 1247,
   'Geography': 'Los Angeles, CA',
   'Group': 'Motorcycle',
   'ID Geography': '16000US0644000',
   'ID Group': 4,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 116736603,
   'Commute Means Moe': 155937,
   'Geography': 'United States',
   'Group': 'Drove Alone',
   'ID Geography': '01000US',
   'ID Group': 0,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 6744,
   'Commute Means Moe': 1407,
   'Geography': 'Los Angeles, CA',
   'Group': 'Taxi',
   'ID Geography': '16000US0644000',
   'ID Group': 3,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 836569,
   'Commute Means Moe': 19581,
   'Geography': 'United States',
   'Group': 'Bicycle',
   'ID Geography': '01000US',
   'ID Group': 5,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 178151,
   'Commute Means Moe': 7814.0122856315,
   'Geography': 'Los Angeles, CA',
   'Group': 'Public Transit',
   'ID Geography': '16000US0644000',
   'ID Group': 2,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 4054632,
   'Commute Means Moe': 41438,
   'Geography': 'United States',
   'Group': 'Walked',
   'ID Geography': '01000US',
   'ID Group': 6,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 181432,
   'Commute Means Moe': 7433.0172877506475,
   'Geography': 'Los Angeles, CA',
   'Group': 'Carpooled',
   'ID Geography': '16000US0644000',
   'ID Group': 1,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 1397019,
   'Commute Means Moe': 23630,
   'Geography': 'United States',
   'Group': 'Other',
   'ID Geography': '01000US',
   'ID Group': 7,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 1389077,
   'Commute Means Moe': 16372.000000000002,
   'Geography': 'Los Angeles, CA',
   'Group': 'Drove Alone',
   'ID Geography': '16000US0644000',
   'ID Group': 0,
   'ID Year': 2017,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2017'},
  {'Commute Means': 7994319,
   'Commute Means Moe': 44992,
   'Geography': 'United States',
   'Group': 'Worked At Home',
   'ID Geography': '01000US',
   'ID Group': 8,
   'ID Year': 2017,
   'Slug Geography': 'united-states',
   'Year': '2017'},
  {'Commute Means': 250999,
   'Commute Means Moe': 7717.999999999999,
   'Geography': 'United States',
   'Group': 'Motorcycle',
   'ID Geography': '01000US',
   'ID Group': 4,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 67440,
   'Commute Means Moe': 4937,
   'Geography': 'Los Angeles, CA',
   'Group': 'Walked',
   'ID Geography': '16000US0644000',
   'ID Group': 6,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 7649210,
   'Commute Means Moe': 51549.81824410247,
   'Geography': 'United States',
   'Group': 'Public Transit',
   'ID Geography': '01000US',
   'ID Group': 2,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 3235,
   'Commute Means Moe': 893.0000000000001,
   'Geography': 'Los Angeles, CA',
   'Group': 'Taxi',
   'ID Geography': '16000US0644000',
   'ID Group': 3,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 863979,
   'Commute Means Moe': 16556,
   'Geography': 'United States',
   'Group': 'Bicycle',
   'ID Geography': '01000US',
   'ID Group': 5,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 26595,
   'Commute Means Moe': 3007,
   'Geography': 'Los Angeles, CA',
   'Group': 'Other',
   'ID Geography': '16000US0644000',
   'ID Group': 7,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 13577238,
   'Commute Means Moe': 71359.09286138663,
   'Geography': 'United States',
   'Group': 'Carpooled',
   'ID Geography': '01000US',
   'ID Group': 1,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 178455,
   'Commute Means Moe': 8268.747910052645,
   'Geography': 'Los Angeles, CA',
   'Group': 'Public Transit',
   'ID Geography': '16000US0644000',
   'ID Group': 2,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 4086487,
   'Commute Means Moe': 37223,
   'Geography': 'United States',
   'Group': 'Walked',
   'ID Geography': '01000US',
   'ID Group': 6,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 20495,
   'Commute Means Moe': 2591,
   'Geography': 'Los Angeles, CA',
   'Group': 'Bicycle',
   'ID Geography': '16000US0644000',
   'ID Group': 5,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 226687,
   'Commute Means Moe': 9791,
   'Geography': 'United States',
   'Group': 'Taxi',
   'ID Geography': '01000US',
   'ID Group': 3,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 168311,
   'Commute Means Moe': 6273.7989288787385,
   'Geography': 'Los Angeles, CA',
   'Group': 'Carpooled',
   'ID Geography': '16000US0644000',
   'ID Group': 1,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 1359709,
   'Commute Means Moe': 21063,
   'Geography': 'United States',
   'Group': 'Other',
   'ID Geography': '01000US',
   'ID Group': 7,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 118590,
   'Commute Means Moe': 5131,
   'Geography': 'Los Angeles, CA',
   'Group': 'Worked At Home',
   'ID Geography': '16000US0644000',
   'ID Group': 8,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 114771057,
   'Commute Means Moe': 143014,
   'Geography': 'United States',
   'Group': 'Drove Alone',
   'ID Geography': '01000US',
   'ID Group': 0,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 1350593,
   'Commute Means Moe': 14530,
   'Geography': 'Los Angeles, CA',
   'Group': 'Drove Alone',
   'ID Geography': '16000US0644000',
   'ID Group': 0,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 7591793,
   'Commute Means Moe': 39269,
   'Geography': 'United States',
   'Group': 'Worked At Home',
   'ID Geography': '01000US',
   'ID Group': 8,
   'ID Year': 2016,
   'Slug Geography': 'united-states',
   'Year': '2016'},
  {'Commute Means': 4911,
   'Commute Means Moe': 1280,
   'Geography': 'Los Angeles, CA',
   'Group': 'Motorcycle',
   'ID Geography': '16000US0644000',
   'ID Group': 4,
   'ID Year': 2016,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2016'},
  {'Commute Means': 4352,
   'Commute Means Moe': 984.9999999999999,
   'Geography': 'Los Angeles, CA',
   'Group': 'Motorcycle',
   'ID Geography': '16000US0644000',
   'ID Group': 4,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 113576499,
   'Commute Means Moe': 141021,
   'Geography': 'United States',
   'Group': 'Drove Alone',
   'ID Geography': '01000US',
   'ID Group': 0,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 1327815,
   'Commute Means Moe': 14587.999999999998,
   'Geography': 'Los Angeles, CA',
   'Group': 'Drove Alone',
   'ID Geography': '16000US0644000',
   'ID Group': 0,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 6842982,
   'Commute Means Moe': 43172,
   'Geography': 'United States',
   'Group': 'Worked At Home',
   'ID Geography': '01000US',
   'ID Group': 8,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 112415,
   'Commute Means Moe': 5613,
   'Geography': 'Los Angeles, CA',
   'Group': 'Worked At Home',
   'ID Geography': '16000US0644000',
   'ID Group': 8,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 13347513,
   'Commute Means Moe': 60192.30729918899,
   'Geography': 'United States',
   'Group': 'Carpooled',
   'ID Geography': '01000US',
   'ID Group': 1,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 157504,
   'Commute Means Moe': 7068.042020248607,
   'Geography': 'Los Angeles, CA',
   'Group': 'Carpooled',
   'ID Geography': '16000US0644000',
   'ID Group': 1,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 1342550,
   'Commute Means Moe': 19063,
   'Geography': 'United States',
   'Group': 'Other',
   'ID Geography': '01000US',
   'ID Group': 7,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 27590,
   'Commute Means Moe': 3143,
   'Geography': 'Los Angeles, CA',
   'Group': 'Other',
   'ID Geography': '16000US0644000',
   'ID Group': 7,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 7760948,
   'Commute Means Moe': 47094.02555526549,
   'Geography': 'United States',
   'Group': 'Public Transit',
   'ID Geography': '01000US',
   'ID Group': 2,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 180936,
   'Commute Means Moe': 7702.57060986785,
   'Geography': 'Los Angeles, CA',
   'Group': 'Public Transit',
   'ID Geography': '16000US0644000',
   'ID Group': 2,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 4114125,
   'Commute Means Moe': 35940,
   'Geography': 'United States',
   'Group': 'Walked',
   'ID Geography': '01000US',
   'ID Group': 6,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 68951,
   'Commute Means Moe': 4518,
   'Geography': 'Los Angeles, CA',
   'Group': 'Walked',
   'ID Geography': '16000US0644000',
   'ID Group': 6,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 188164,
   'Commute Means Moe': 9791,
   'Geography': 'United States',
   'Group': 'Taxi',
   'ID Geography': '01000US',
   'ID Group': 3,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 2571,
   'Commute Means Moe': 732,
   'Geography': 'Los Angeles, CA',
   'Group': 'Taxi',
   'ID Geography': '16000US0644000',
   'ID Group': 3,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 885188,
   'Commute Means Moe': 17869,
   'Geography': 'United States',
   'Group': 'Bicycle',
   'ID Geography': '01000US',
   'ID Group': 5,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 22865,
   'Commute Means Moe': 2786,
   'Geography': 'Los Angeles, CA',
   'Group': 'Bicycle',
   'ID Geography': '16000US0644000',
   'ID Group': 5,
   'ID Year': 2015,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2015'},
  {'Commute Means': 266191,
   'Commute Means Moe': 8181.000000000001,
   'Geography': 'United States',
   'Group': 'Motorcycle',
   'ID Geography': '01000US',
   'ID Group': 4,
   'ID Year': 2015,
   'Slug Geography': 'united-states',
   'Year': '2015'},
  {'Commute Means': 198488,
   'Commute Means Moe': 9198.397577839305,
   'Geography': 'Los Angeles, CA',
   'Group': 'Public Transit',
   'ID Geography': '16000US0644000',
   'ID Group': 2,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 1274181,
   'Commute Means Moe': 13225,
   'Geography': 'Los Angeles, CA',
   'Group': 'Drove Alone',
   'ID Geography': '16000US0644000',
   'ID Group': 0,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 285407,
   'Commute Means Moe': 8679,
   'Geography': 'United States',
   'Group': 'Motorcycle',
   'ID Geography': '01000US',
   'ID Group': 4,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 24334,
   'Commute Means Moe': 3273,
   'Geography': 'Los Angeles, CA',
   'Group': 'Bicycle',
   'ID Geography': '16000US0644000',
   'ID Group': 5,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 904463,
   'Commute Means Moe': 17061,
   'Geography': 'United States',
   'Group': 'Bicycle',
   'ID Geography': '01000US',
   'ID Group': 5,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 1026,
   'Commute Means Moe': 405,
   'Geography': 'Los Angeles, CA',
   'Group': 'Taxi',
   'ID Geography': '16000US0644000',
   'ID Group': 3,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 165977,
   'Commute Means Moe': 8165,
   'Geography': 'United States',
   'Group': 'Taxi',
   'ID Geography': '01000US',
   'ID Group': 3,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 63501,
   'Commute Means Moe': 4382,
   'Geography': 'Los Angeles, CA',
   'Group': 'Walked',
   'ID Geography': '16000US0644000',
   'ID Group': 6,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 4011094,
   'Commute Means Moe': 33672,
   'Geography': 'United States',
   'Group': 'Walked',
   'ID Geography': '01000US',
   'ID Group': 6,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 5453,
   'Commute Means Moe': 1176,
   'Geography': 'Los Angeles, CA',
   'Group': 'Motorcycle',
   'ID Geography': '16000US0644000',
   'ID Group': 4,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 7600395,
   'Commute Means Moe': 46539.04105157303,
   'Geography': 'United States',
   'Group': 'Public Transit',
   'ID Geography': '01000US',
   'ID Group': 2,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 25164,
   'Commute Means Moe': 3140,
   'Geography': 'Los Angeles, CA',
   'Group': 'Other',
   'ID Geography': '16000US0644000',
   'ID Group': 7,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 1353870,
   'Commute Means Moe': 19754,
   'Geography': 'United States',
   'Group': 'Other',
   'ID Geography': '01000US',
   'ID Group': 7,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 166249,
   'Commute Means Moe': 7280.395387614603,
   'Geography': 'Los Angeles, CA',
   'Group': 'Carpooled',
   'ID Geography': '16000US0644000',
   'ID Group': 1,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 13481429,
   'Commute Means Moe': 73290.30210061901,
   'Geography': 'United States',
   'Group': 'Carpooled',
   'ID Geography': '01000US',
   'ID Group': 1,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 107369,
   'Commute Means Moe': 6009,
   'Geography': 'Los Angeles, CA',
   'Group': 'Worked At Home',
   'ID Geography': '16000US0644000',
   'ID Group': 8,
   'ID Year': 2014,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2014'},
  {'Commute Means': 6542582,
   'Commute Means Moe': 41264,
   'Geography': 'United States',
   'Group': 'Worked At Home',
   'ID Geography': '01000US',
   'ID Group': 8,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 111525436,
   'Commute Means Moe': 151310,
   'Geography': 'United States',
   'Group': 'Drove Alone',
   'ID Geography': '01000US',
   'ID Group': 0,
   'ID Year': 2014,
   'Slug Geography': 'united-states',
   'Year': '2014'},
  {'Commute Means': 4000459,
   'Commute Means Moe': 35277,
   'Geography': 'United States',
   'Group': 'Walked',
   'ID Geography': '01000US',
   'ID Group': 6,
   'ID Year': 2013,
   'Slug Geography': 'united-states',
   'Year': '2013'},
  {'Commute Means': 160975,
   'Commute Means Moe': 6969,
   'Geography': 'United States',
   'Group': 'Taxi',
   'ID Geography': '01000US',
   'ID Group': 3,
   'ID Year': 2013,
   'Slug Geography': 'united-states',
   'Year': '2013'},
  {'Commute Means': 1745,
   'Commute Means Moe': 778,
   'Geography': 'Los Angeles, CA',
   'Group': 'Taxi',
   'ID Geography': '16000US0644000',
   'ID Group': 3,
   'ID Year': 2013,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2013'},
  {'Commute Means': 65090,
   'Commute Means Moe': 4152,
   'Geography': 'Los Angeles, CA',
   'Group': 'Walked',
   'ID Geography': '16000US0644000',
   'ID Group': 6,
   'ID Year': 2013,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2013'},
  {'Commute Means': 6229012,
   'Commute Means Moe': 44321,
   'Geography': 'United States',
   'Group': 'Worked At Home',
   'ID Geography': '01000US',
   'ID Group': 8,
   'ID Year': 2013,
   'Slug Geography': 'united-states',
   'Year': '2013'},
  {'Commute Means': 177631,
   'Commute Means Moe': 7535.237620672622,
   'Geography': 'Los Angeles, CA',
   'Group': 'Carpooled',
   'ID Geography': '16000US0644000',
   'ID Group': 1,
   'ID Year': 2013,
   'Slug Geography': 'los-angeles-ca',
   'Year': '2013'},
  {'Commute Means': 882198,
   'Commute Means Moe': 17363,
   'Geography': 'United States',
   'Group': 'Bicycle',
   'ID Geography': '01000US',
   'ID Group': 5,
   'ID Year': 2013,
   'Slug Geography': 'united-states',
   'Year': '2013'},
  {'Commute Means': 295733,
   'Commute Means Moe': 7944.000000000001,
   'Geography': 'United States',
   'Group': 'Motorcycle',
   'ID Geography': '01000US',

In [43]:
#to determine which data to pull out, let's look at an example entry. As you can see, there are several entries in 
###json['data'][1], meaning as we iterate through to build our df we'll want to use json['data'][i] with an additional
###index, for example json['data'][i]['Commue Means']

json['data'][1]

{'Commute Means': 126091,
 'Commute Means Moe': 6902,
 'Geography': 'Los Angeles, CA',
 'Group': 'Worked At Home',
 'ID Geography': '16000US0644000',
 'ID Group': 8,
 'ID Year': 2017,
 'Slug Geography': 'los-angeles-ca',
 'Year': '2017'}

In [48]:
###let's see if we can return the desired fields from this entry. We want 'commute means', 'Group', 'Year', and 'Geography'
###from this data we'll then calculate the proportion (here we only have the counts)

test_list = [json['data'][1]['Commute Means'], json['data'][1]['Group'], json['data'][1]['Year'], json['data'][1]['Geography']]
test_list

#seems to have worked out. Now let's use this same logic to build a full dataframe.

[126091, 'Worked At Home', '2017', 'Los Angeles, CA']

In [103]:
la_df = pd.DataFrame()
la_df['Commute_Means'] = [json['data'][i]['Commute Means'] for i in range(len(json['data']))]
la_df['Group'] = [json['data'][i]['Group'] for i in range(len(json['data']))]
la_df['Year'] = [json['data'][i]['Year'] for i in range(len(json['data']))]
la_df['Geography'] = [json['data'][i]['Geography'] for i in range(len(json['data']))]

#lastly, let's remove the USA rows:

la_df = la_df[la_df['Geography'] != 'United States']

In [150]:
#now let's build all that info a function:

##note that for each city we will need a fips code (more on generating that below). Example here is LA City, fips code 0644000

def build_city_df(fips_code):
    
    '''takes a FIPS code as a string input and outputs a pandas dataframe of transpo data for that FIPS code'''
    
    output_df = pd.DataFrame()
    base_url = url = "http://graphite.datausa.io/api/data?measure=Commute%20Means,Commute%20Means%20Moe&geo=16000US"
    
    tail = ",01000US&drilldowns=Group"
    url = base_url+fips_code+tail
    json = requests.get(url, headers=headers).json()
    
    output_df['Commute_Means'] = [json['data'][i]['Commute Means'] for i in range(len(json['data']))]
    output_df['Group'] = [json['data'][i]['Group'] for i in range(len(json['data']))]
    output_df['Year'] = [json['data'][i]['Year'] for i in range(len(json['data']))]
    output_df['Geography'] = [json['data'][i]['Geography'] for i in range(len(json['data']))]
    
    output_df = output_df[output_df['Geography'] != 'United States']
    
    
    return output_df

   Commute_Means           Group  Year        Geography
1         126091  Worked At Home  2017  Los Angeles, CA
2          22682           Other  2017  Los Angeles, CA
4          65878          Walked  2017  Los Angeles, CA
6          18171         Bicycle  2017  Los Angeles, CA
8           4090      Motorcycle  2017  Los Angeles, CA

In [124]:
##now about building those fips codes. I've downloaded a file from the us census containing all geocodes:

fips_file = pd.read_excel("all-geocodes-v2016.xlsx")

'0644000'

In [137]:
##note that the above file came through with many values = 000000, which has the effect of splitting our data. Remove those:

fips_file = fips_file[fips_file['Unnamed: 4'] != "00000"]

In [234]:
fips_file[fips_file['Unnamed: 6'] == "Los Angeles city"]

,Estimates Geography File: Vintage 2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1696,162,06,000,00000,44000,00000,Los Angeles city

In [138]:
#using the above file, we can make a fips locator. This would be most useful if we removed case sensitivity etc., 
#but for now just follow the format: Los Angeles city, Chicago city, etc. 

def retrieve_fips(city):
    entry = fips_file[fips_file['Unnamed: 6'] == city]
    code = str(entry['Unnamed: 1'].values[0]) + str(entry['Unnamed: 4'].values[0])
    return code

la_fips = retrieve_fips("Los Angeles city")
la_fips

'0644000'

In [140]:
#putting them together, we get an LA-specific df:

la_df = build_city_df(la_fips)
la_df.head()

   Commute_Means           Group  Year        Geography
1         126091  Worked At Home  2017  Los Angeles, CA
2          22682           Other  2017  Los Angeles, CA
4          65878          Walked  2017  Los Angeles, CA
6          18171         Bicycle  2017  Los Angeles, CA
8           4090      Motorcycle  2017  Los Angeles, CA

'1714000'

In [197]:
##let's combine the functionality of these two into one function:


def build_city_df_from_name(name):
    
    '''takes a city name as a string input, generatees a FIPS code, and outputs a 
    pandas dataframe of transpo data for that FIPS code'''
    
    entry = fips_file[fips_file['Unnamed: 6'] == name]
    fips_code = str(entry['Unnamed: 1'].values[0]) + str(entry['Unnamed: 4'].values[0])
    
    
    output_df = pd.DataFrame()
    base_url = url = "http://graphite.datausa.io/api/data?measure=Commute%20Means,Commute%20Means%20Moe&geo=16000US"
    
    tail = ",01000US&drilldowns=Group"
    url = base_url+fips_code+tail
    json = requests.get(url, headers=headers).json()
    
    output_df['Commute_Means'] = [json['data'][i]['Commute Means'] for i in range(len(json['data']))]
    output_df['Group'] = [json['data'][i]['Group'] for i in range(len(json['data']))]
    output_df['Year'] = [json['data'][i]['Year'] for i in range(len(json['data']))]
    output_df['Geography'] = [json['data'][i]['Geography'] for i in range(len(json['data']))]
    
    output_df = output_df[output_df['Geography'] != 'United States']
    
    
    return output_df

In [ ]:
def build_city_df_by_year(name, year):
    
    '''takes a city name and year as a string input, generatees a FIPS code, and outputs a 
    pandas dataframe of transpo data for that FIPS code and a specific year. This function also includes
    a column for the share of users engaging in a particular transport type'''
    
    entry = fips_file[fips_file['Unnamed: 6'] == name]
    fips_code = str(entry['Unnamed: 1'].values[0]) + str(entry['Unnamed: 4'].values[0])
    
    
    output_df = pd.DataFrame()
    base_url = url = "http://graphite.datausa.io/api/data?measure=Commute%20Means,Commute%20Means%20Moe&geo=16000US"
    
    tail = ",01000US&drilldowns=Group"
    url = base_url+fips_code+tail
    json = requests.get(url, headers=headers).json()
    
    output_df['Commute_Means'] = [json['data'][i]['Commute Means'] for i in range(len(json['data']))]
    output_df['Group'] = [json['data'][i]['Group'] for i in range(len(json['data']))]
    output_df['Year'] = [json['data'][i]['Year'] for i in range(len(json['data']))]
    output_df['Geography'] = [json['data'][i]['Geography'] for i in range(len(json['data']))]
    
    #remove usa total data:
    
    output_df = output_df[output_df['Geography'] != 'United States']
    
    ##restrict year:
    
    output_df = output_df[output_df['Year'] == str(year)]
    
    ##add a share column:
    
    total = output_df['Commute_Means'].sum()
    output_df['share'] = output_df['Commute_Means']/total
    
    return output_df

In [149]:
#looks like everything is working. 

la_df = build_city_df_from_name("Los Angeles city")
la_df.head()

   Commute_Means           Group  Year        Geography
1         126091  Worked At Home  2017  Los Angeles, CA
2          22682           Other  2017  Los Angeles, CA
4          65878          Walked  2017  Los Angeles, CA
6          18171         Bicycle  2017  Los Angeles, CA
8           4090      Motorcycle  2017  Los Angeles, CA

Now that we have a pipeline to generate datasets by city name, let's make a few datasets to compare:

In [238]:
la_df = build_city_df_by_year("Los Angeles city", 2017)
sf_df = build_city_df_by_year("San Francisco city", 2017)
chicago_df = build_city_df_by_year("Chicago city", 2017)
atlanta_df = build_city_df_by_year("Atlanta city", 2017)
san_diego_df = build_city_df_by_year("San Diego city", 2017)
nyc_df = build_city_df_by_year("New York city", 2017)

Now that we can easily create a bunch of dataframes with transit data, let's build some functions that allow quick comparison plots between these data.

In [209]:
def compare_transit_mode(*argv):
    for arg in argv:
        print(arg)

In [251]:
def compare_transit_mode(means, *argv):
    
    '''compares the share of commuters using a given means of transport across an unspecified number of 
    city dataframes'''
    
    output_df = pd.DataFrame(columns=["city", "share"])
    for arg in argv:
        share = (arg[arg['Group'] == str(means)])['share'].values[0]
        city = arg['Geography'].values[0]
        output_df = output_df.append({"city": city, "share":share}, ignore_index=True).sort_values(by=['share'])
    return output_df

In [253]:
compare_transit_mode('Walked', nyc_df, sf_df, la_df, chicago_df, atlanta_df)

                city     share
0    Los Angeles, CA  0.033066
4        Atlanta, GA  0.046062
1        Chicago, IL  0.066468
2       New York, NY  0.101010
3  San Francisco, CA  0.119511

In [283]:
#now finally get to plotting:

#from bokeh.io import output_file, show
from bokeh.layouts import column
from bokeh.plotting import figure, show, output_file

In [ ]:
def compare_transit_mode(means, *argv):
    
    '''compares the share of commuters using a given means of transport across an unspecified number of 
    city dataframes'''
    
    output_df = pd.DataFrame(columns=["city", "share"])
    for arg in argv:
        share = (arg[arg['Group'] == str(means)])['share'].values[0]
        city = arg['Geography'].values[0]
        output_df = output_df.append({"city": city, "share":share}, ignore_index=True).sort_values(by=['share'])
    
    
    
    return output_df

In [303]:
walked = compare_transit_mode('Walked', nyc_df, sf_df, la_df, chicago_df, atlanta_df)

In [391]:
#possible to color yellow if includes LA?

def plotby_transit_mode(means, *argv):
    
    '''plots the share of commuters using a given means of transport across an unspecified number of 
    city dataframes. If LA is included in the list of cities, it is plotted in gold.'''
    
    output_df = pd.DataFrame(columns=["city", "share"],index=None)
    for arg in argv:
        share = (arg[arg['Group'] == str(means)])['share'].values[0]
        city = arg['Geography'].values[0]
        output_df = output_df.append({"city": city, "share":share}, ignore_index=True).sort_values(by='share', ascending=False).reset_index(drop=True)
       
    cities = [output_df['city'][i] for i in range(len(output_df['city'].values))]
    share = [output_df['share'][i] for i in range(len(output_df['share'].values))]
    
    color_list = []
    for city in cities:
        if city=="Los Angeles, CA":
            color_list.append("gold")
        else:
            color_list.append("navy")
            
    
    
    p = figure(y_range=cities, plot_height=400, title= str(means) + ", proportion by city")
    p.hbar(y=cities, right=share, height=.9, color=color_list)
    show(p)
    #return cities, share

In [392]:
plotby_transit_mode('Walked', nyc_df, sf_df, la_df, chicago_df, atlanta_df)
plotby_transit_mode('Bicycle', nyc_df, sf_df, la_df, chicago_df, atlanta_df)
plotby_transit_mode('Public Transit', nyc_df, sf_df, la_df, chicago_df, atlanta_df)
plotby_transit_mode('Taxi', nyc_df, sf_df, la_df, chicago_df, atlanta_df)
plotby_transit_mode('Drove Alone', nyc_df, sf_df, la_df, chicago_df, atlanta_df)

In [390]:
nyc_df.head(10)

    Commute_Means           Group  Year     Geography     share
1          173304  Worked At Home  2017  New York, NY  0.042552
2           22946           Other  2017  New York, NY  0.005634
4          411388          Walked  2017  New York, NY  0.101010
6           51733         Bicycle  2017  New York, NY  0.012702
8            3780      Motorcycle  2017  New York, NY  0.000928
10          41653            Taxi  2017  New York, NY  0.010227
12        2272028  Public Transit  2017  New York, NY  0.557859
14         186153       Carpooled  2017  New York, NY  0.045707
16         909776     Drove Alone  2017  New York, NY  0.223381